<nav class="grey darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo pacifico center">Voto Unimet</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
    	<li><a href="">Home</a></li>
      <li><a href="">Resultado</a></li>
      <li><a href="">Denuncias</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="">Inciar Sesión</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="">Home</a></li>
      <li><a href="">Resultado</a></li>
      <li><a href="">Denuncias</a></li>
      <li><a href="">Inciar Sesión</a></li>
    </ul>
  </div>
</nav>
